@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --dark-color: #0B0B0B;
    --light-color: #F5E6CC;
    --primary-color: #B22222;
    --accent-color: #D4AF37;

    --title-font: 'Alegreya Sans SC';
    --body-font: 'Montserrat';
}

body {
    background-color: var(--light-color);
    font-family: var(--body-font);
}

main {
    min-height: 100vh;
}

h2 {
    font-family: var(--title-font);
}

.shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 128px 0;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-color);
    padding: 1rem;

    & p {
        color: var(--light-color);
    }
}